################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/biblioteka/packages
/biblioteka/biblioteka/bin
/biblioteka/biblioteka/obj/Debug
*.user
